#chatContainer
{
    text-align: right;
}
#chatBox
{
    height: 400px;    
    background-color: rgb(0, 0, 0);
    color: #a7a7a7;
    border: 3px solid;
    border-color: #a7a7a7;;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;

}
#messageParagraph {
    max-height: 350px;
    overflow-y: auto;
}
#usermsg
{    
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;    
}
#usermsg
{
    width: 100%;
}
#submitmsg
{
    margin-top: 10px;
    padding: 5px 25px;
}